<div class="row">
  <div class="col-xs-12">
    <img src="https://www.bbcgoodfood.com/sites/default/files/recipe_images/recipe-image-legacy-id--1558_10.jpg" alt="" class="img-responive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1></h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#"></a>To Shopping List </li>
        <li><a href="#"></a>Edit Recipe</li>
        <li><a href="#"></a>Delete Recipe</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Recipe detail</h2>
  </div>
</div>